@font-face {
  font-family: "Casino Regular";
  src: url("../fonts/casino-font/CasinoRegular-Wyz4G.ttf");
}
@font-face {
  font-family: "Casino Flat Italic";
  src: url("../fonts/casino-font/CasinoFlatItalic-X340P.ttf");
}
body {
  background-color: #076644;
  font-family: "Casino Regular";
  text-align: center;
}
.jumbotron {
  background-color: #C88A64;
  color: white;
}
.inactive-player {
  display: none;
}
#p1-vs-cpu {
  display: none;
}
#p1-panel {
  min-height: 40rem;
  border: solid 2px red;
  padding: 8rem;
  background-image: url("../img/table-reverse.jpg");
  background-size: cover;
  font-family: "Casino Flat Italic";
  text-align: right;
}
#p2-panel {
  min-height: 40rem;
  border: solid 2px red;
  padding: 8rem;
  background-image: url("../img/table.jpg");
  background-size: cover;
  font-family: "Casino Flat Italic";
  text-align: left;
}
.panel label, p, h3 {
  color: white;
}
#p1-seat, #p2-seat {
  display: none;
}
.winner-output {
  color: white
}
